body{
  padding: 0;
  margin: 0;
  background: #F4F4F4;
}

.App-link {
  color: #61dafb;
}

h1, h2, h3, h4, p, span, a, li, input, button{
  font-family: "Montserrat" !important;
}

.upload-form {
  width: 60%;
  margin: 0px auto;
  padding: 20px;
  background: #FFFFFF;
  
  
}

.upload-form form{
  display: flex;
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.navbar{
  width: 60%;
  margin: auto;
  margin-top: 6%;
  padding: 20px;
  background: #292929;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.navbar a{
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.upload-form form div{
  
  flex-basis: 70%;

}

.upload-form input{
  padding: 16px;
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  width: 100%;
}

.upload-form button{
  background: #0099dd;
  flex-basis: 24%;
  padding: 20px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
